<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--引入自定义css样式-->
    <link rel="stylesheet" href="../static/css/me.css">
    <title>标签</title>
</head>
<body>


    <!--导航部分 - 使用现成的导航组件-->
    <nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <!--m-item 用于js获取对象的名称-->
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search ...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--menu toggle是js获取对象的名称-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>



    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <!--分成两列-->
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">标签</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2> 个
                    </div>
                </div>
            </div>
            <!--标签分类-->
            <div class="ui attached segment m-padded-tb-large">
                <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                    方法论 <div class="detail">23</div>
                </a>
            </div>
            <!--博客列表-->
            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--分成两列,一列放内容，一列放链接图片-->
                        <div class="eleven wide column">
                            <h3 class="ui header">如何评价知乎用户@邓铂鋆的一生?</h3>
                            <p class="m-text">邓总大概怎么也想不到，铁拳竟然会砸到他自己。永远不要幻想铁拳是和你一边的，即使它经常封禁你看不惯、甚至亲自参与举报的人。 就像那个为国家疫情建言献策的…</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">梦溪</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2021-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2321
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            认知升级
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/400?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--分成两列,一列放内容，一列放链接图片-->
                        <div class="eleven wide column">
                            <h3 class="ui header">如何评价知乎用户@邓铂鋆的一生?</h3>
                            <p class="m-text">邓总大概怎么也想不到，铁拳竟然会砸到他自己。永远不要幻想铁拳是和你一边的，即使它经常封禁你看不惯、甚至亲自参与举报的人。 就像那个为国家疫情建言献策的…</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">梦溪</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2021-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2321
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            认知升级
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/400?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--分成两列,一列放内容，一列放链接图片-->
                        <div class="eleven wide column">
                            <h3 class="ui header">如何评价知乎用户@邓铂鋆的一生?</h3>
                            <p class="m-text">邓总大概怎么也想不到，铁拳竟然会砸到他自己。永远不要幻想铁拳是和你一边的，即使它经常封禁你看不惯、甚至亲自参与举报的人。 就像那个为国家疫情建言献策的…</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">梦溪</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2021-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2321
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            认知升级
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/400?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--分成两列,一列放内容，一列放链接图片-->
                        <div class="eleven wide column">
                            <h3 class="ui header">如何评价知乎用户@邓铂鋆的一生?</h3>
                            <p class="m-text">邓总大概怎么也想不到，铁拳竟然会砸到他自己。永远不要幻想铁拳是和你一边的，即使它经常封禁你看不惯、甚至亲自参与举报的人。 就像那个为国家疫情建言献策的…</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">梦溪</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2021-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2321
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            认知升级
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/400?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--分成两列,一列放内容，一列放链接图片-->
                        <div class="eleven wide column">
                            <h3 class="ui header">如何评价知乎用户@邓铂鋆的一生?</h3>
                            <p class="m-text">邓总大概怎么也想不到，铁拳竟然会砸到他自己。永远不要幻想铁拳是和你一边的，即使它经常封禁你看不惯、甚至亲自参与举报的人。 就像那个为国家疫情建言献策的…</p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">梦溪</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2021-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2321
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            认知升级
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/400?image=1005" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--分页-->
            <div class="ui bottom attached segment">
                <!--分成两列-->
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>

    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <!--整个底部布局分为四份：3、3、3、7 - 总共为16份，class属性-divided：每一份之间加分割线-->
            <div class="ui inverted divided stackable grid">
                 <div class="three wide column">
                     <div class="ui inverted link list">
                         <div class="item">
                             <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                         </div>
                     </div>
                 </div>
                 <div class="three wide column">
                     <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                     <div class="ui inverted link list">
                         <a href="#" class="item">用户故事 (User Story)</a>
                         <a href="#" class="item">用户故事 (User Story)</a>
                         <a href="#" class="item">用户故事 (User Story)</a>
                     </div>
                 </div>
                 <div class="three wide column">
                     <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                     <div class="ui inverted link list">
                         <a href="#" class="item">Email:Hui_mengxi@163.com</a>
                         <a href="#" class="item">QQ:1759971088</a>
                 </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-min">这是我的个人博客、会分享关于编程、写作、思考相关的内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <!--下面的横线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Mengxi Blog © 2021 Mengxi Designed by Mengxi</p>
        </div>
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!---CDN方式引入jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--Semantic UI官网 Single Components - CDN Releases-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>